<nav class="navbar navbar-expand-sm mb-4  fixed-top custom-nav sticky stickyadd">
    <a class="navbar-brand" href="/"><span>フォ</span><span>ト</span><span>シェ</span><span>ア</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon navbar-light bg-light m-auto p-auto">〓</span>
    </button>

    <div class="collapse navbar-collapse justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item pt-2"><%= link_to 'Users', users_path, class: 'nav-link' %></li>
          <li class="nav-item pt-2"><%= link_to 'New Post', new_post_path ,class: 'nav-link'%></li>

          <li class="nav-item dropdown">

             <%# !-- 一時的にコメントアウト　cariawaveでherokuへプロフィール画像機能ができたら消す if current_user.profile_picture.attached?  %>
              <!--div class="profile_picture pt-1"><%#= image_tag current_user.profile_picture,width: "50",height: "50"%></div-->
             <%#end  %>
            <div class="profile_picture pt-1">
               <%= form_for current_user do |form| %>
            				<% if current_user.image? %>
                     <%= image_tag current_user.image.url,width: "50px",height: "50px" %>
                    <% else %>
                      <%= image_tag "/images/camera1.jpg",width: "50px",height: "50px"  %>
                    <% end %>
        			 <% end %>
      			 </div>
             <a href="#" class="nav-link dropdown-toggle pt-1" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item nav-link"><%= link_to 'My profile', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item nav-link"><%= link_to 'Logout', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item pb-1"><%= link_to 'Signup', signup_path, class: 'nav-link' %></li>
          <li class="nav-item pb-1"><%= link_to 'Login', login_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
</nav>



<style>



.nav-link {
  position: relative;
  display: inline-block;
  transition: .3s;
}
.nav-link::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 0;
  height: 1px;
  background-color: #FFFFFF	;
  transition: .3s;
}
.nav-link:hover {
  color: #FFFFFF;
}
.nav-link:hover::after {
  width: 100%;
}


.profile_picture {
  position: relative;
  display: inline-block;

}

.nav-item img {
  border-radius: 50%;  /* 角丸半径を50%にする(=円形にする) */
  width: 50px;  /* 縦横を同じ値にする */
  height: 50px;  /* 縦横を同じ値にする */
  object-fit: cover; /* 縦横比固定したまま上2つの縦横の範囲内に収まるように配置する */
}
</style>